{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Forgot password
{% endblock %}

{% block body %}
	<div class="container login-div">
		<h1 class="h3 mb-3 font-weight-normal text-center my-4">Forgot password</h1>
		<div class="col-md-6 mx-auto mb-5 login-form text-center">
			{% for message in app.flashes('success') %}
				<div class="alert alert-info w-100 mt-3">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('danger') %}
				<div class="alert alert-danger w-100 mt-3">
					{{ message }}
				</div>
			{% endfor %}

			{{ form(form) }}


			</form>

		</div>

	</div>
{% endblock %}
