{% extends 'base.html.twig' %}

{% block title %}Error 403
{% endblock %}


{% block body %}
	<div class="container-fluid py-5 trick-bg error">
		<div class="container px-0 pb-5 d-flex justify-content-center align-items-center" id="editPage">

			<h1>Page non trouvée</h1>

		</div>
	</div>
</div>{% endblock %}
